<h1>DBZ Personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <app-dbz-list
    [characterList]="characters"
    (onDeleteId)="onDeleteCharacter($event)"
    ></app-dbz-list>
  </div>

  <div class="col">
    <!-- {{characters}} -->
    <!-- (onNewCharacter)="onNewCharacter($event) lo estamos mandando a llamr de main-page-component.ts, a su vez la variable $event, lo estamos mandando a llamar
    del @Output que esta en add-character.component.ts -->
    <app-dbz-add-character (onNewCharacter)="onNewCharacter($event)"></app-dbz-add-character>
  </div>
</div>
